<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="db.properties"/>
	
	<settings>
		
		
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		
	
	</settings>

	<!-- 别名定义 -->
	
	<typeAliases>
		<package name="com.lim.cms.entity"/>
	</typeAliases>


	<!--配置environment环境 -->
	<environments default="development">
		<!-- 环境配置1，每个SqlSessionFactory对应一个环境 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jdbc_driver}" />
				<property name="url" value="${jdbc_url}" />
				<property name="username" value="${jdbc_username}" />
				<property name="password" value="${jdbc_password}" />
			</dataSource>
		</environment>


	</environments>

	<!-- 映射文件，mapper的配置文件 -->
	<mappers>
		<!--直接映射到相应的mapper文件 -->
		<mapper resource="sqlmapper/TCalendarMapper.xml" />
		<mapper resource="sqlmapper/TCompanyMapper.xml" /> 
		<mapper resource="sqlmapper/TCustomersMapper.xml" />
		<mapper resource="sqlmapper/TDateFormatMapper.xml" /> 
		<mapper resource="sqlmapper/TGroupsMapper.xml" />
		<mapper resource="sqlmapper/TLoginAttemptsMapper.xml" /> 
		<mapper resource="sqlmapper/TMigrationsMapper.xml" />
		<mapper resource="sqlmapper/TNotesMapper.xml" /> 
		<mapper resource="sqlmapper/TPaymentMapper.xml" />
		<mapper resource="sqlmapper/TPaypalMapper.xml" /> 
		<mapper resource="sqlmapper/TProductsMapper.xml" />
		<mapper resource="sqlmapper/TQuotesMapper.xml" /> 
		<mapper resource="sqlmapper/TQuoteItemsMapper.xml" />
		<mapper resource="sqlmapper/TSaleItemsMapper.xml" /> 
		<mapper resource="sqlmapper/TSalesMapper.xml" />
		<mapper resource="sqlmapper/TSessionsMapper.xml" /> 
		<mapper resource="sqlmapper/TSettingsMapper.xml" />
		<mapper resource="sqlmapper/TSkrillMapper.xml" /> 
		<mapper resource="sqlmapper/TStripeMapper.xml" />
		<mapper resource="sqlmapper/TTaxRatesMapper.xml" /> 
		<mapper resource="sqlmapper/TUsersMapper.xml" />
		<mapper resource="sqlmapper/TUsersGroupsMapper.xml" /> 
		<!-- <mapper class="com.enjoylearning.mybatis.mapper.TJobHistoryAnnoMapper"/> -->
	</mappers>

</configuration>  